*{
    margin:0;
    box-sizing: border-box;
    padding: 0;   
}

html{
    font-size: 20px;
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
}

h1{
    padding: 1rem;
    font-weight: 500;
    font-size: 3rem;
}

section{
    height: 100%;
    
}

.toDo_container{
    width: 50%;
    max-height: 700px;
    padding: 15px 10px 10px;
    margin-top: 40px;
}

input{
    width: 20rem;
    height: 1.5rem;
    border-style: outset;
    border-color: rgb(221, 210, 210);
    border-radius: 5px;
    padding: 5px;
   
}

.addButton{
    padding: 5px;
    width: 3rem;
    border-radius: 5px;
    margin-left: 2px;
   background-color: green;
    
}

.addButton:hover{
    opacity: 50%;
    cursor: pointer;
}

.tasks_cont{
    
    display:block;
    min-height: 30rem;
    padding: 2rem;
    margin: 1.5rem;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

   
}

.task{
    border: 1px solid #000;
    border-radius: 10px;
    height: 2.5rem;
    margin-top: 10px;
    display: flex;
    align-items: center;
   

}