*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body{
    font-family: 'Dancing Script';
    font-size: 62.5%;
    background-color: rgb(0, 0, 0);
}

header{
    background-color: rgb(3, 3, 3);
    padding: 2rem;
}

h1{
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: wheat;
}

section{
    background-color: rgba(5, 4, 4, 0.103);
    flex-direction: column;
}

input{
    height: 2rem;
    width: 20rem;
    border-radius: outset;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0.5rem;
    font-family: 'Dancing Script', cursive;
}

.addNewTask_btn {
    height: 2.1rem;
    width: 4rem;
    border-color: rgb(153, 148, 148);
    border-radius: 5px;
}

.addNewTask_btn:hover{
    opacity: 50%;
    cursor: pointer;
}

.toDoListBox {
    width: 80%;
    height: 100%;
    padding: 0.5rem;
    margin: 3rem;
    border-radius: 1rem;
    -webkit-box-shadow: -5px 0px 5px -5px #000000, 5px 0px 13px -7px #000000, 5px 5px 5px 5px rgba(0,0,0,0); 
    box-shadow: -5px 0px 5px -7px #000000, 10px 0px 5px -7px #000000, 5px 5px 5px 5px rgba(0,0,0,0);
    background-color: rgb(255, 253, 250);
}

.toDoListBox:before{
    content: "YOUR THINGS TO DO";
    font-size: 1rem;
    display: flex;
    justify-content: center;
    font-weight: 900d;
}

.taskContainer {
    border:1px solid;
    height: 5rem;
    justify-content: space-between;
    display: flex;
    padding: 1rem;
    margin: 0.5rem;
    background-color: rgb(252, 247, 239);
    border-radius: 5px;
}

.taskContainer:nth-child(2n+1){
    background-color: rgb(207, 199, 183);
}

.taskContent {
    flex:1;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 2px;
}


.btn{
   height: 2rem;
   width: 2rem;
   font-size: 1.5rem;
   padding: 1px;
   margin: 2px;
}

.btn:hover {
 cursor: pointer;
}


.completedTask{
    opacity: 50%;
    text-decoration: line-through;
}